server = true
{% if server_new %}
bootstrap_expect = 1
{% else %}
bootstrap_expect = {{ groups['consul_servers'] | length}}                                 # Number of Consul servers expected in the datacenter (recommended: 3, 5 or 7)
{% endif %}
                                                     # Must be consistent all across all servers in dc
 
advertise_addr = "{{ my_ip }}"                    # IP of the machine
 
client_addr = "0.0.0.0"                              # Choose any address to designate an interface to which Consul services will bind, including HTTP and DNS server
 
connect {                                            # Provides service-to-service connection auth (Consul service mesh)
  enabled = true                                     # Must be enabled on all servers to work
}
 
addresses {                                          # Address that Consul will bind gRPC API to
  grpc = "127.0.0.1"
}
 
ports {
  grpc_tls  = -1                                     # Port gRPC API. Recommended 8502 convention
  #grpc  = 8502
}
 
ui_config {                                          # Enable the use of UI in this server
  enabled = true                                     # Consider running on some selected hosts, not all of them
}
 
acl {
  tokens {
    agent  = "{{ default_token }}"  # This is the ACL token, which will tell our consul cluster, which of the agent can read and write what type of data
  }                                                  # We will deal with that tokens later
}
