advertise_addr = "{{ ansible_host }}"                   # IP of the machine
 
bind_addr = "0.0.0.0"                               # Choose any address to designate an interface to which Consul services will bind, including HTTP and DNS server
 
