# Increase log verbosity
#log_level = "DEBUG"

 
# Make sure Nomad nodes leave before shutting down the agent to prevent messing up the raft consensus
leave_on_interrupt = true
leave_on_terminate = true
 
# Enable the server
server {
    enabled = true

{% if ("nomad_master" in groups and inventory_hostname in groups["nomad_master"]) %}
    bootstrap_expect = 1
{% endif %}

    # bootstrap_expect must coincide with the total number of Nomad servers
    #bootstrap_expect = {{ num_nomad_servers }}  
    eval_gc_threshold = "24h"
    batch_eval_gc_threshold = "24h"

    server_join {
        retry_join = {{ consul_servers_ip | to_json }}
    }

}
 
# Require TLS
tls {
    http = true
    rpc  = true
 
    ca_file   = "{{ nomad_certs }}nomad-ca.pem"
    cert_file = "{{ nomad_certs }}server.pem"
    key_file  = "{{ nomad_certs }}server-key.pem"
 
    verify_server_hostname = true
    verify_https_client    = true
# ...
}
 
consul {
    # The address to the Consul agent.
    address = "127.0.0.1:8500"
 
    # token is first set to default and then changed to each agent's token
    token = "{{ agent_nomad_token }}"
 
    # The service name to register the server and client with Consul.
    server_service_name = "nomad-server"
    client_service_name = "nomad-client"
 
    # Enables automatically registering the services.
    auto_advertise = true
 
    # Enabling the server and client to bootstrap using Consul.
    server_auto_join = true
    client_auto_join = true
}
 
advertise{
    http = "{{ my_ip }}:4646"
    rpc = "{{ my_ip }}:4647"
    serf = "{{ my_ip }}:4648"
}
