datacenter = "{{ consul_dc_name }}"
region = "{{ nomad_region }}"

# data_dir points to {{mount_dir}} if mounted volume (noamd_volume or nomad_new_volume) and {{nomad_data_dir}} otherwise
{% if ('nomad_volume' in groups and inventory_hostname in groups['nomad_volume']) or ('nomad_new_volume' in groups and inventory_hostname in groups['nomad_new_volume']) %}
data_dir = "{{ mount_dir }}"
{% else %}
data_dir = "{{ nomad_data_dir }}"
{% endif %}

